table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid purple;
    padding: 10px;
}

th {
    background-color: purple;
    color: white;
}

button {
    background-color: purple;
    color: white;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
}

    button:hover {
        opacity: 0.8;
    }
