body {
    font-family: Arial;
    background-color: white;
    color: purple;
    padding: 20px;
}

h1, h2 {
    color: purple;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 250px;
    padding: 8px;
}

button, .btn {
    margin-top: 15px;
    background-color: purple;
    color: white;
    padding: 10px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}
